@using evdb.Models;
@using evdb.models.Enums;
@using evdb.models.Models;
@using evkxapi.Helpers;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model evkxapi.Models.EvCompareViewModel

<!doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Compare models EVKX.net</title>
</head>
<body>
    <img src="https://evkx.net/images/evkxlogo_s.png" />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Model</th>
                @foreach (EV ev in Model.Models)
                {
                    <th scope="col">@ev.Brand.Name @ev.ModelInfo.Variant</th>
                }
           </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                @foreach (EV ev in Model.Models)
                {
                    if (ev.ModelPictures.Any())
                    {
                        CloudMedia? media = ev.ModelPictures.FirstOrDefault(p => p.ExternalUrl != null && p.ExternalUrl.Contains("main_1"));
                        if (media != null && media.ExternalUrl != null)
                        {
                            <td scope="col">
                               <img src="@media.ExternalUrl.Replace("main_1", "main_1_xst")" class="img-thumbnail" alt="" width="200">
                            </td>
                        }
                    }

                }
            </tr>
            <tr>
                <th scope="row">Type</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.ModelInfo.BodyType</td>
                }
            </tr>
            <tr>
                <th scope="row">World premiere</th>
                @foreach (EV ev in Model.Models)
                {
                    if (ev.ModelInfo?.WorldPremiere != null)
                    {
                        <td scope="col">@ev.ModelInfo.WorldPremiere</td>
                    }
                    else
                    {
                        <td scope="col"></td>
                    }
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Range And Consumption</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">WLTP range</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                    @{
                    string splitvalue = string.Empty;
                    foreach (RangeAndConsumption range in ev.Drivetrain.RangeAndConsumption)
                    {
                        if (range.BasicTrimWltpRange != null && range.TopTrimWltpRange != null && range.BasicTrimWltpRange != range.TopTrimWltpRange)
                        {
                            @Html.Raw(splitvalue)
                            @range.BasicTrimWltpRange 
                            @Html.Raw("-") 
                            @range.TopTrimWltpRange 
                            @Html.Raw("km (")
                            @Decimal.Round(EvConversion.ToMilesFromKph(range.BasicTrimWltpRange).Value,0)
                            @Html.Raw("-")  
                            @Decimal.Round(EvConversion.ToMilesFromKph(range.TopTrimWltpRange).Value,0)
                            @Html.Raw("miles)")
                        }
                        else if (range.BasicTrimWltpRange != null && range.TopTrimWltpRange != null && range.BasicTrimWltpRange == range.TopTrimWltpRange)
                        {
                            @range.BasicTrimWltpRange 
                            @Html.Raw("km (")
                            @Decimal.Round(EvConversion.ToMilesFromKph(range.BasicTrimWltpRange).Value,0) 
                                    @Html.Raw("miles)")
                                }

                                splitvalue = " / ";
                            }
                    }
                    </td>

                }
            </tr>
            <tr>
                <th scope="row">WLTP consumption</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                    @foreach (RangeAndConsumption range in ev.Drivetrain.RangeAndConsumption)
                    {
                        if (range.BasicTrimRealWltpConsumption != null && range.TopTrimRealWltpConsumption != null && range.BasicTrimRealWltpConsumption != range.TopTrimRealWltpConsumption)
                        {
                                @Decimal.Round(range.BasicTrimRealWltpConsumption.Value,2)
                                @Html.Raw("-")
                                @Decimal.Round(range.TopTrimRealWltpConsumption.Value, 2) 
                                @Html.Raw("kWh/100km (")
                                @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.BasicTrimRealWltpConsumption.Value).Value, 1) 
                                @Html.Raw("-")
                                @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.TopTrimRealWltpConsumption.Value).Value, 1)
                                @Html.Raw("mi/kWh )")
                        }
                        else if (range.BasicTrimRealWltpConsumption != null && range.TopTrimRealWltpConsumption != null && range.BasicTrimRealWltpConsumption == range.TopTrimRealWltpConsumption)
                        {
                                @Decimal.Round(range.BasicTrimRealWltpConsumption.Value,2) @Html.Raw("kWh/100km")
                                @Html.Raw("(");
                                @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.BasicTrimRealWltpConsumption.Value).Value, 1) 
                                @Html.Raw("mi/kWh )")
                        }
                    }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">EPA range</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                    @foreach (RangeAndConsumption range in ev.Drivetrain.RangeAndConsumption)
                    {
                        if (range.BasicTrimEpaRange != null && range.TopTrimEpaRange != null && range.BasicTrimEpaRange != range.TopTrimEpaRange)
                        {
                            @range.BasicTrimEpaRange
                            @Html.Raw("-")
                            @range.TopTrimEpaRange
                            @Html.Raw("miles (")
                            @Decimal.Round(EvConversion.ToKmFromMiles(range.BasicTrimWltpRange).Value,0)
                            @Html.Raw("-")
                            @Decimal.Round(EvConversion.ToKmFromMiles(range.TopTrimWltpRange).Value,0) 
                            @Html.Raw("km)");
                        }
                        else if (range.BasicTrimEpaRange != null && range.TopTrimEpaRange != null && range.BasicTrimEpaRange == range.TopTrimEpaRange)
                        {
                            @range.BasicTrimEpaRange 
                            @Html.Raw("miles (")
                            @Decimal.Round(EvConversion.ToKmFromMiles(range.BasicTrimEpaRange).Value,0)
                            @Html.Raw("km)")
                        }
                    }
                    </td>

                }
            </tr>
            <tr>
                <th scope="row">EPA consumption</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                    @foreach (RangeAndConsumption range in ev.Drivetrain.RangeAndConsumption)
                    {
                        if (range.BasicTrimEpaRealConsumption != null && range.TopTrimEpaRealConsumption != null && range.BasicTrimEpaRealConsumption != range.TopTrimEpaRealConsumption)
                        {
                            @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.BasicTrimEpaRealConsumption.Value).Value,1)
                            @Decimal.Round(range.BasicTrimEpaRealConsumption.Value,2)
                            @Html.Raw("-")
                            @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.TopTrimEpaRealConsumption.Value).Value,1)
                            @Html.Raw("mi/kWh (")
                            @Decimal.Round(range.BasicTrimEpaRealConsumption.Value,2)
                            @Html.Raw("-")
                            @Decimal.Round(range.TopTrimEpaRealConsumption.Value,2)
                            @Html.Raw("kWh/100km )")

                        }
                        else if (range.BasicTrimEpaRealConsumption != null && range.TopTrimRealWltpConsumption != null && range.BasicTrimEpaRealConsumption == range.TopTrimEpaRealConsumption)
                        {
                            @Decimal.Round(EvConversion.ToMiKwhFromKwh100km(range.BasicTrimEpaRealConsumption.Value).Value,1) 
                            @Html.Raw("mi/kWh  (")
                            @Decimal.Round(range.BasicTrimEpaRealConsumption.Value,2) 
                            @Html.Raw("kWh/100km)")
                        }
                       
                    }
                    </td>
                }
            </tr>

             <tr class="table-secondary">
                <th scope="row">Performance</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Top Speed</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach(Performance perf in ev.Drivetrain.Performance)
                            {
                                @spacer
                                @perf.TopSpeed <span>km/h</span>
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Power</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Performance perf in ev.Drivetrain.Performance)
                            {
                                @spacer
                                @perf.PowerKw <span>kW</span>
                                if (perf.PowerKwBoost != null)
                                {
                                    <span>(@perf.PowerKwBoost Kw with boost)</span>
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Torque</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Performance perf in ev.Drivetrain.Performance)
                            {
                                @spacer
                                @perf.TorqueNm <span>Nm</span>
                                if (perf.TorqueNmBoost != null)
                                {
                                    <span>(@perf.TorqueNmBoost Nm with boost)</span>
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">0-100km/h (0-62mph)</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Performance perf in ev.Drivetrain.Performance)
                            {
                                @spacer
                                @perf.ZeroToHundredKph <span>s</span>
                                if(perf.ZeroToHundredKphBoost != null)
                                {
                                   <span>(@perf.ZeroToHundredKphBoost s with boost)</span>
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Drivetrain</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Drive</th>
                @foreach (EV ev in Model.Models)
                {
                    if(ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontAxle))
                    {
                        <td scope="col">FWD</td>
                    }
                    else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorRearAxle))
                    {
                        <td scope="col">RWD</td>
                    }
                    else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontAndRearAxle)
                    || ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontTwoMotorsRearAxle)
                    || ev.Drivetrain.DriveSetup.Equals(DriveSetup.TwoMotorsFrontAndRearAxle))
                    {
                        <td scope="col">AWD</td>
                    }

                }
            </tr>
            <tr>
                <th scope="row">Motor setup</th>
                @foreach (EV ev in Model.Models)
                {
                    if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontAxle))
                    {
                        <td scope="col">One motor front axle</td>
                    }
                    else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorRearAxle))
                    {
                        <td scope="col">One motor rear axle</td>
                    }
                    else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontAndRearAxle))
                    {
                        <td scope="col">One motor front and rear axle</td>
                    }
                     else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.OneMotorFrontTwoMotorsRearAxle))
                    {
                        <td scope="col">One motor front and two motors rear axle</td>
                    }
                    else if (ev.Drivetrain.DriveSetup.Equals(DriveSetup.TwoMotorsFrontAndRearAxle))
                    {
                        <td scope="col">Two motors front and rear axle</td>
                    }
                }
            </tr>
            <tr>
                <th scope="row">Motor technology</th>
                @foreach (EV ev in Model.Models)
                {
                    bool pmsm = false;
                    bool asm = false;
                    bool wrsm = false;
                    foreach(Motor motor in ev.Drivetrain.Motors)
                    {
                    
                        if(motor.Type.Equals(MotorType.ASM))
                        {
                            asm = true;
                        }
                        else if (motor.Type.Equals(MotorType.PMSM))
                        {
                            pmsm = true;
                        }
                        else if (motor.Type.Equals(MotorType.WRSM))
                        {
                            wrsm = true;
                        }
                    }

                    if(pmsm && asm)
                    {
                        <td scope="col">ASM front and PMSM rear</td>
                    }
                    else if(wrsm)
                    {
                        <td scope="col">WRSM</td>
                    }
                    else if (asm)
                    {
                        <td scope="col">ASM</td>
                    }
                    else if (pmsm)
                    {
                        <td scope="col">PSMS</td>
                    }
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Brakes & Regen</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Front brake type</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if(brake.FrontBrakeType.Equals(BrakeType.FixedCaliperDisc))
                                {
                                    @Html.Raw("Disc brakes, fixed caliper")    
                                }
                                else if(brake.FrontBrakeType.Equals(BrakeType.FloatingCaliperDisc))
                                {
                                    @Html.Raw("Disc brakes, floating caliper")
                                }
                                else if (brake.FrontBrakeType.Equals(BrakeType.Drum))
                                {
                                    @Html.Raw("Drum brake")
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Rear brake type</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if (brake.RearBrakeType.Equals(BrakeType.FixedCaliperDisc))
                                {
                                    @Html.Raw("Disc brakes, fixed caliper")
                                }
                                else if (brake.RearBrakeType.Equals(BrakeType.FloatingCaliperDisc))
                                {
                                    @Html.Raw("Disc brakes, floating caliper")
                                }
                                else if (brake.RearBrakeType.Equals(BrakeType.Drum))
                                {
                                    @Html.Raw("Drum brake")
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Front Disc diameter</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if (brake.FrontBrakeDiscDiameter != null)
                                {
                                    @brake.FrontBrakeDiscDiameter
                                    @Html.Raw("mm")
                                    
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Rear Disc diameter</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if (brake.RearBrakeDiscDiameter != null)
                                {
                                    @brake.RearBrakeDiscDiameter
                                    @Html.Raw("mm")

                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Front disc type</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if (brake.FrontBrakeDiscType.Equals(BrakeDiscType.Ceramic))
                                {
                                    @Html.Raw("Ceramic")
                                }
                                else if (brake.FrontBrakeDiscType.Equals(BrakeDiscType.CastIron))
                                {
                                    @Html.Raw("Cast Iron")
                                }
                                else if (brake.FrontBrakeDiscType.Equals(BrakeDiscType.TungstenCarbidCoating))
                                {
                                    @Html.Raw("Carbid")
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Rear disc type</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                @spacer
                                if (brake.RearBrakeDiscType.Equals(BrakeDiscType.Ceramic))
                                {
                                    @Html.Raw("Ceramic")
                                }
                                else if (brake.RearBrakeDiscType.Equals(BrakeDiscType.CastIron))
                                {
                                    @Html.Raw("Cast Iron")
                                }
                                else if (brake.RearBrakeDiscType.Equals(BrakeDiscType.TungstenCarbidCoating))
                                {
                                    @Html.Raw("Carbid")
                                }
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Blended brakes (regen on brake pedal)</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            bool blendedBrake = false;
                            foreach (Brakes brake in ev.Drivetrain.Brakes)
                            {
                                if (brake.BlendedBrakes.HasValue && brake.BlendedBrakes.Value)
                                {
                                    blendedBrake = true;
                                }
                            }
                            if (blendedBrake)
                            {
                                @Html.Raw("Standard")
                            }
                            else
                            {
                                @Html.Raw("Not available")
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Lift-up-regen (one-pedal-driving)</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            if (ev.Drivetrain.Regen != null && ev.Drivetrain.Regen.OnePedalDriving.HasValue && ev.Drivetrain.Regen.OnePedalDriving.Value)
                            {
                                @Html.Raw("Yes")
                            }
                            else
                            {
                                @Html.Raw("No")
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Lift-up-regen modes</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            if (ev.Drivetrain?.Regen != null && ev.Drivetrain.Regen.OnePedalStoppingMode.HasValue && ev.Drivetrain.Regen.OnePedalStoppingMode.Equals(OnePedalStoppingMode.Creep))
                            {
                                @Html.Raw("Creep")
                            }
                            else if (ev.Drivetrain?.Regen != null && ev.Drivetrain.Regen.OnePedalStoppingMode.HasValue && ev.Drivetrain.Regen.OnePedalStoppingMode.Equals(OnePedalStoppingMode.Roll))
                            {
                                @Html.Raw("Roll")
                            }
                            else if (ev.Drivetrain?.Regen != null && ev.Drivetrain.Regen.OnePedalStoppingMode.HasValue && ev.Drivetrain.Regen.OnePedalStoppingMode.Equals(OnePedalStoppingMode.Hold))
                            {
                                @Html.Raw("Hold")
                            }
                            else if (ev.Drivetrain?.Regen != null && ev.Drivetrain.Regen.OnePedalStoppingMode.HasValue && ev.Drivetrain.Regen.OnePedalStoppingMode.Equals(OnePedalStoppingMode.HoldRollCreep))
                            {
                                @Html.Raw("Hold, roll or creep")
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Lift-up-regen levels</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            if (ev.Drivetrain.Regen != null && ev.Drivetrain.Regen.LiftOfRegenLevels != null && ev.Drivetrain.Regen.LiftOfRegenLevels.Count > 1)
                            {
                                @Html.Raw(ev.Drivetrain.Regen.LiftOfRegenLevels.Count)
                            }

                            if (ev.Drivetrain.Regen != null && ev.Drivetrain.Regen.LiftOfRegenLevels != null && ev.Drivetrain.Regen.LiftOfRegenLevels.Count == 1)
                            {
                                @Html.Raw("Only one level")
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Coasting</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            if (ev.Drivetrain.Regen != null && ev.Drivetrain.Regen.Coasting.HasValue && ev.Drivetrain.Regen.Coasting.Value)
                            {
                                @Html.Raw("Yes")
                            }
                            else
                            {
                                @Html.Raw("No")
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Adaptive regen when coasting</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            if (ev.Drivetrain.Regen != null && ev.Drivetrain.Regen.AdaptiveRegen.HasValue && ev.Drivetrain.Regen.AdaptiveRegen.Value)
                            {
                                @Html.Raw("Yes")
                            }
                            else
                            {
                                @Html.Raw("No")
                            }
                        }
                    </td>
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Suspension</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Suspension options</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.Drivetrain.Suspension.Count()
                    
                        @{
                            string spiltvalue = string.Empty;
                            if(ev.Drivetrain.Suspension.Count() > 1)
                            {
                                @Html.Raw("(");
                                foreach (Suspension suspension in ev.Drivetrain.Suspension)
                                {
                                    @spiltvalue
                                    @suspension.Name
                                    spiltvalue = " / ";
                                }
   
                               @Html.Raw(")");
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Adaptive damping front</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">
                    
                    @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                    {
                        @spiltvalue
                        RenderEvFeature(suspension.AdjustableDampingFront);
                        spiltvalue = " / ";
                        }
                    </td>
           
                }
            </tr>
            <tr>
                <th scope="row">Adaptive damping rear</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            RenderEvFeature(suspension.AdjustableDampingRear);
                            spiltvalue = " / ";
                        }
                    </td>

                }
            </tr>
            <tr>
                <th scope="row">Suspension type front</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            if(suspension.SuspensionConstructionFront == null)
                            {
                                
                            }
                            else if(suspension.SuspensionConstructionFront.Equals(SuspensionConstruction.MacPhersonStrut))
                            {
                                @Html.Raw("MacPherson Strut");
                            }
                            else if (suspension.SuspensionConstructionFront.Equals(SuspensionConstruction.DoubleWishbone))
                            {
                                @Html.Raw("Double Wishbone");
                            }
                            else if (suspension.SuspensionConstructionFront.Equals(SuspensionConstruction.Multilink))
                            {
                                @Html.Raw("Multilink");
                            }

                            spiltvalue = " / ";
                        }
                    </td>

                }
            </tr>
            <tr>
                <th scope="row">Suspension type rear</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            if (suspension.SuspensionConstructionRear == null)
                            {

                            }
                            else if (suspension.SuspensionConstructionRear.Equals(SuspensionConstruction.Leaf))
                            {
                                @Html.Raw("Leaf")
                                ;
                            }
                            else if (suspension.SuspensionConstructionRear.Equals(SuspensionConstruction.Multilink))
                            {
                                @Html.Raw("Multilink")
                                ;
                            }

                            spiltvalue = " / ";
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Spring type front</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            if (suspension.SuspensionTypeFront == null)
                            {

                            }
                            else if (suspension.SuspensionTypeFront.Equals(SuspensionType.SteelSpringsWithOilDampers))
                            {
                                @Html.Raw("Steel springs")
                                ;
                            }
                            else if (suspension.SuspensionTypeFront.Equals(SuspensionType.AirSuspension))
                            {
                                @Html.Raw("Air springs (air suspension)")
                                ;
                            }

                            spiltvalue = " / ";
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Spring type rear</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            if (suspension.SuspensionTypeRear == null)
                            {

                            }
                            else if (suspension.SuspensionTypeRear.Equals(SuspensionType.SteelSpringsWithOilDampers))
                            {
                                @Html.Raw("Steel springs")
                                ;
                            }
                            else if (suspension.SuspensionTypeRear.Equals(SuspensionType.AirSuspension))
                            {
                                @Html.Raw("Air springs (air suspension)")
                                ;
                            }

                            spiltvalue = " / ";
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Adjustable height front</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            RenderEvFeature(suspension.AdjustableHeightFront);
                            spiltvalue = " / ";
                        }
                    </td>

                }
            </tr>
            

            <tr>
                <th scope="row">Adjustable height rear</th>
                @foreach (EV ev in Model.Models)
                {
                    string spiltvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @spiltvalue
                            RenderEvFeature(suspension.AdjustableHeightRear);
                            spiltvalue = " / ";
                        }
                    </td>

                }
            </tr>
            <tr>
                <th scope="row">Ground clearance</th>
                @foreach (EV ev in Model.Models)
                {
                    string splitvalue = string.Empty;
                    <td scope="col">

                        @foreach (Suspension suspension in ev.Drivetrain.Suspension)
                        {
                            @splitvalue
                            if (suspension.MinGroundClearanceMM != suspension.MaxGroundClearanceMM)
                            {
                                @suspension.MinGroundClearanceMM <span>-</span> @suspension.MaxGroundClearanceMM <span>mm</span>
                            }
                            else
                            {
                                @suspension.MinGroundClearanceMM <span>mm</span>
                            }
                            splitvalue = " / ";
                        }
                    </td>

                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Size & Weight</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Length</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.Dimensions.Length mm</td>
                }
            </tr>

            <tr>
                <th scope="row">Height</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.Dimensions.Height mm</td>
                }
            </tr>
            <tr>
                <th scope="row">Width excluding mirrors</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.Dimensions.WidthExcludingMirrors mm</td>
                }
            </tr>
            <tr>
                <th scope="row">Width including mirrors</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.Dimensions.WidhtIncludingMirrors mm</td>
                }
            </tr>

            <tr>
                <th scope="row">Curb Weight</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.TransportCapabilities.WeightUnladenDINKg kg</td>
                }
            </tr>
            <tr>
                <th scope="row">Max Weight</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">@ev.TransportCapabilities.MaxVehicleWeightKg kg</td>
                }
            </tr>
            <tr>
                <th scope="row">Max Roof load</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                   @if(ev.TransportCapabilities.MaxRoofLoadKg.HasValue)
                   {
                        @ev.TransportCapabilities.MaxRoofLoadKg  <span>kg</span>
                   }
                   </td>
                }
            </tr>
            <tr>
                <th scope="row">Max weight braked trailer</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @if (ev.TransportCapabilities.TrailerSizeBrakedKg.HasValue)
                        {
                            @ev.TransportCapabilities.TrailerSizeBrakedKg  <span>kg</span>
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Trunk capacity</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @if (ev.TransportCapabilities.CargoCapacityLiter.HasValue)
                        {
                            @ev.TransportCapabilities.CargoCapacityLiter  @Html.Raw(" liter")
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Trunk capacity seat down</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @if (ev.TransportCapabilities.CargoCapacitySeatDownLiter.HasValue)
                        {
                            @ev.TransportCapabilities.CargoCapacitySeatDownLiter  @Html.Raw(" liter")
                        }

                        @if (ev.TransportCapabilities.CargoCapacityThirdRowSeatDownLiter.HasValue)
                        {
                            @Html.Raw("(")
                            @ev.TransportCapabilities.CargoCapacityThirdRowSeatDownLiter  
                            @Html.Raw(" liter with third row down)")
                        }
                    </td>
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">UI </th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Head Up Display</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.UIAndControls.HeadUpDisplay);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Voice Control</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.UIAndControls.VoiceControl);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Gesture Control</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.UIAndControls.GestureControl);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Driver display</th>
                @{

                    foreach (EV ev in Model.Models)
                    {
                        List<Screen> driverScreens = new List<Screen>();
                        foreach (ScreenLayout screenLayout in ev.UIAndControls.ScreenLayout)
                        {
                            foreach (Screen screen in screenLayout.Screens)
                            {
                                if (screen.ScreenCategory.Equals(ScreenCategory.DriverInformation))
                                {
                                    driverScreens.Add(screen);
                                }
                            }
                        }

                        if(driverScreens.Count > 0)
                        {
                            <td scope="col">
                             @Html.Raw("Yes")
                            </td>
                           
                        }
                    }

                    

                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Driver Assist Systems</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">ABS</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.AntiLockBrakingSystem);
                        }
                    </td>
                }
            </tr>

            <tr>
                <th scope="row">Automatic Emergency Braking</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.AutomaticEmergencyBraking);
                        }
                    </td>
                    
                }
            </tr>

            <tr>
                <th scope="row">Automatic Emergency Steering</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.AutomaticEmergencySteering);
                        }
                    </td>
                }
            </tr>

            <tr>
                <th scope="row">Cross Traffic Assist</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.CrossTrafficAssist);
                        }
                    </td>
                }
            </tr>

            <tr>
                <th scope="row">Drowsiness Alert</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.DrowsinessAlert);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Electronic Stability Control</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.ElectronicStabilityControl);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Exit Warning</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.ExitWarning);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Forward collision warning</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.ForwardCollisionWarning);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Lane Departure Warning</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.LaneDepartureWarning);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Lane Keeping</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.LaneKeeping);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Left Turn Crash Avoidance</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.LeftTurnCrashAvoidance);
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Night Vision</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            RenderEvFeature(ev.DriverAssistance.NightVision);
                        }
                    </td>
                }
            </tr>
            <tr>
            <th scope="row">Auto steer</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                    @if(ev.DriverAssistance?.DrivingAutomation != null && ev.DriverAssistance.DrivingAutomation.Count == 1)
                    {
                        EVFeature? eVFeature = ev.DriverAssistance.DrivingAutomation[0].AutoSteer;
                        if(eVFeature != null)
                        {
                            RenderEvFeature(eVFeature);
                        }
                    }
                    else if (ev.DriverAssistance?.DrivingAutomation != null && ev.DriverAssistance.DrivingAutomation.Count > 1)
                    {
                    
                        if(ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.NotAvailable))
                        && (ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Optional))
                        || ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Standard))))
                        {
                            @Html.Raw("Optional")
                        }
                        else if (ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Optional))
                        && ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Standard)))
                        {
                            @Html.Raw("Optional")

                        }
                        else if (ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Optional)))
                        {
                            @Html.Raw("Optional")
                        }
                        else if (ev.DriverAssistance.DrivingAutomation.Exists(d => d.AutoSteer != null && d.AutoSteer.FeatureStatus.Equals(FeatureStatus.Standard)))
                        {
                            @Html.Raw("Standard")
                        }
                    }
                    </td>
                 }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Battery</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Gross battery size</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Battery battery in ev.Drivetrain.Battery)
                            {
                                @spacer
                                @battery.GrossCapacitykWh <span>kWh</span>
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Available battery size</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Battery battery in ev.Drivetrain.Battery)
                            {
                                @spacer
                                @battery.NetCapacitykWh <span>kWh</span>
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>

            <tr>
                <th scope="row">Cell chemistry</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Battery battery in ev.Drivetrain.Battery)
                            {
                                @spacer
                                @battery.CellInfo.CellChemistry
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr class="table-secondary">
                <th scope="row">Charging</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col"></td>
                }
            </tr>
            <tr>
                <th scope="row">Max DC charging power</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (Battery battery in ev.Drivetrain.Battery)
                            {
                                @spacer
                                @battery.MaxDCChargeSpeed <span>kW</span>
                                spacer = " / ";
                            }
                        }
                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Average DC charging power 0-100%</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                       @{
                            string spacer = "";
                            foreach(EvCalculations evsc in ev.Calculations)
                            {
                           
                                @if (evsc.AverageChargingSpeed.HasValue)
                                {
                                    @spacer
                                    @Decimal.Round(evsc.AverageChargingSpeed.Value,1) <span>kW</span>
                                    spacer = " / ";
                                }
                            }
                        }

                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Average DC charging power 10-100%</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (EvCalculations evsc in ev.Calculations)
                            {
                           
                                @if (evsc.AverageChargingSpeed10100.HasValue)
                                {
                                    @spacer
                                    @Decimal.Round(evsc.AverageChargingSpeed10100.Value,1) <span>kW</span>
                                    spacer = " / ";
                                }
                            }
                        }

                    </td>
                }
            </tr>
            <tr>
                <th scope="row">Average DC charging power 10-80%</th>
                @foreach (EV ev in Model.Models)
                {
                    <td scope="col">
                        @{
                            string spacer = "";
                            foreach (EvCalculations evsc in ev.Calculations)
                            {
                      
                                @if (evsc.AverageChargingSpeed1080.HasValue)
                                {
                                    @spacer
                                    @Decimal.Round(evsc.AverageChargingSpeed1080.Value,1) <span>kW</span>
                                    spacer = " / ";
                                }
                            }
                        }
                    </td>
                }
            </tr>

           
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>

@functions {
    void RenderEvFeature(EVFeature feature)
    {
        if(feature != null && feature.Available())
        {
            if(feature.FeatureStatus.Equals(FeatureStatus.Optional))
            {
                <span>Optional</span>
            }
            else
            {
                <span>Standard</span>
            }
        }
        else
        {
            <span>Not available</span>
        }
    }
}